@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Terminia-Reguler;
    src: url(/assets/fonts/Termina/TerminaTest-Regular.otf);
}

@font-face {
    font-family: Terminia-SemiBold;
    src: url(/assets/fonts/Termina/TerminaTest-Medium.otf);
}

@font-face {
    font-family: Terminia-Bold;
    src: url(/assets/fonts/Termina/TerminaTest-Bold.otf);
}

@font-face {
    font-family: Terminia-Black;
    src: url(/assets/fonts/Termina/TerminaTest-Black.otf);
}


.swiper-1{
    overflow: hidden;
    position: relative;
}

.swiper-1 .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-1 .swiper-slide{
    min-height: 100vh;
    background-image: url(/assets/bg-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: ; */
}

.swiper-1 .swiper-slide .swiper-slide-inner{
    width: 1140px;
}

.swiper-1 .swiper-slide .swiper-slide-inner .sub-heading{
    font-size: 14px;
    font-family: Inter;
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(225, 109, 24);
    font-weight: 600;
}

.swiper-1 .swiper-slide .swiper-slide-inner .sub-heading:hover .svg{
    transform: translateX(4px);
}

.swiper-1 .swiper-slide .swiper-slide-inner .sub-heading .svg{
    margin-bottom: -3px;
    transition: all 0.3s ease;
}

.swiper-1 .swiper-slide .swiper-slide-inner .sub-heading svg{
    width: 13px;
    height: 13px;
}

.swiper-1 .swiper-slide .swiper-slide-inner .sub-heading svg path{
    stroke: rgb(225, 109, 24);
}

.swiper-1 .swiper-prev{
    margin-top: 25px;
}
.swiper-1 .swiper-prev,
.swiper-1 .swiper-next{
    position: absolute;
    left: 4%;
    z-index: 10;
    top: 65%;
    transform: rotate(90deg);
    background-color: transparent;
    width: 22px;
    height: 22px;
    border: 1px solid #0000001A;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-1 .swiper-prev:hover,
.swiper-1 .swiper-next:hover{
    background-color: rgb(225, 109, 24);
    cursor: pointer;
}
.swiper-1 .swiper-prev:hover svg path,
.swiper-1 .swiper-next:hover svg path{
    fill: white !important;
}
.swiper-1 .swiper-prev svg,
.swiper-1 .swiper-next svg{
    width: 8px;
    height: 8px;
}
.swiper-1 .swiper-prev svg path,
.swiper-1 .swiper-next svg path{
    -webkit-text-stroke-color: rgb(0, 44, 95);
    stroke-width: 2px;
}
.swiper-1 .swiper-1-btns{
    transform: rotate(90deg);
    position: relative;
}

.hero-content{
    margin-top: 15px;
}
.hero-content h1{
    font-size: 75px;
    font-family: Terminia-Bold;
    color: rgb(0, 44, 95);
}
.hero-content h1.second-h1{
    color: rgb(225, 109, 24);
    background-color: white;
    width: max-content;
}
.hero-content p{
    font-size: 18px;
    color: rgba(0, 58, 117, 0.6);
    line-height: 26px;
    font-family: Inter;
    width: 40%;
    margin-top: 18px;
}

.track-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.track-btn .svg{
    background-color: rgb(225, 109, 24);
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.track-btn .svg svg{
    width: 18px;
    height: 18px;
    margin-right: 1px;
    transition: all 0.3s ease;
}
.track-btn .svg svg path{
    stroke: white;
}
.track-btn .text{
    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
    color: rgb(0, 44, 95);
    transition: all 0.3s ease;
}
.track-btn:hover .svg{
    width: 38px;
    height: 38px;
}
.track-btn:hover .svg svg{
    width: 23px;
    height: 23px;
}
.track-btn:hover .text{
    color: rgb(225, 109, 24);
}

.line-number-div{
    position: absolute;
    top: 33%;
    left: 4%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.line-number-div .num{
    transform: rotate(-90deg);
    font-family: Inter;
    color: rgb(0, 44, 95);
}
.line-number-div .line{
    height: 100px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.174);
    display: flex;
    align-items: flex-end;
}
.line-number-div .line-inner{
    height: 20%;
    width: 100%;
    background-color: black;
    display: block;
    transition: all 0.3s ease;
}
@media(max-width: 1024px){
    .swiper-1 .swiper-slide .swiper-slide-inner{
        width: 100%;
    }
    .swiper-1 .swiper-prev,
    .swiper-1 .swiper-next{
        transform: rotate(0deg) !important;
        margin: 0;
        bottom: 30px !important;
        top: auto;
        left: 20px;
    }
    .swiper-1 .swiper-prev{
        margin-left: 0px;
        transform: rotate(-180deg) !important;
    }
    .swiper-1 .swiper-next{
        margin-left: 30px;
        transform: rotate(180deg) !important;
    }
    .swiper-1 .swiper-slide{
        padding: 0px 20px;
        min-height: 90vh;
    }
    .line-number-div{
        flex-direction: row;
        gap: 70px;
        left: 150px;
        top: auto;
        bottom: -10px;
    }
    .line-number-div .num{
        transform: rotate(0deg);
        order: 3;
    }
    .num-start{
        order: 1 !important;
    }
    .line-number-div .line{
        transform: rotate(90deg);
        order: 2;
    }
    .hero-content p{
        width: 70%;
    }
}
@media(max-width: 767px){
    .hero-content h1{
        font-size: 58px;
    }
    .hero-content p{
        width: 100%;
    }
    .line-number-div{
        left: 100px;
    }
}

.image-change-section{
    padding: 50px 0px;
}
.image-change-section-inner-div{
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.image-changing-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}
.image-changing-text .sub-heading{
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}
.image-changing-text .image-text{
    font-size: 36px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Terminia-reguler;
    font-weight: 300;
}
.image-changing-text .image-text li{
    position: relative;
    width: max-content;
    transition: all 0.3s ease;
}
.image-changing-text .image-text li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #84dc86;
    transition: all 0.3s ease;
}
/* .image-changing-text .image-text li:hover::after{
    width: 100%;
} */
.image-changing-text .image-text li.active{
    color: #84dc86;
}
.image-changing-text .image-text li.active::after{
    width: 100%;
}
.image-changing-image{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.image-changing-image img{
    width: 100%;
}
.image-rotating-svg{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 46%;
    overflow: visible !important;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 12px;
    color: #000000;
    fill: #000000;
    font-weight: 600;
    animation: spin 8s linear infinite;
    animation-play-state: running;
    z-index: 1;
}

@keyframes spin{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media(max-width: 1024px){
    .image-change-section{
        padding: 30px 20px;
    }
    .image-change-section-inner-div{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 70px;
    }
    .image-changing-image{
        width: 100%;
    }
    .image-rotating-svg{
        top: 35%;
        left: -30px;
    }
}
@media(max-width: 767px){
    .image-changing-text .image-text{
        font-size: 24px;
        gap: 10px;
    }
    .image-rotating-svg{
        top: 43%;
    }
}

.swiper-container-wrapper{
    position: relative;
}
.slider-main{
    height: 470px;
    display: flex;
    overflow: hidden;
    position: relative;
}
.slider-main:hover{
    cursor: grab;
}
.slider-main:active{
    cursor: grabbing;
}
.slider-main .swiper-wrapper{
    display: flex;
}
.slider-main .swiper-wrapper .swiper-slide{
    transition: all 0.3s ease;
}
.slider-card{
    background-image: url(/assets/bg-1.jpg);
    background-size: 100vw 100%;
    background-clip: border-box;
    background-attachment: fixed;
    background-position: center left;
    background-repeat: no-repeat;
    height: 100%;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-end !important;
    padding: 30px;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%; */
    flex: 1 0 25vw;
    min-width: 0;
    position: relative;
}
.slider-card._2{
    background-image: url(/assets/bg-2.jpg);
}
.slider-card._3{
    background-image: url(/assets/bg-3.jpg);
}
.slider-card._4{
    background-image: url(/assets/banner-img-2.jpg);
}
.swiper-hover-zones {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    pointer-events: none; /* lets events through */
    z-index: 100;
}
.hover-zone {
    flex: 1 0 25%;
    height: 100%;
    pointer-events: all; /* each zone is hoverable */
    background: transparent;
}
.slider-card-content{
    background-color: #ed5c28;
    padding: 25px 35px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 20vw;
    z-index: 10;
}
.slider-card-content h3{
    font-size: 19px;
    color: white;
    font-family: Terminia-Bold;
    width: 50%;
}
.slider-card-content p{
    color: rgba(255, 255, 255, 0.55);
    font-family: Inter;
}
.swiper-container-wrapper .swiper-btn-next,
.swiper-container-wrapper .swiper-btn-prev{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    background-color: white;
    width: 55px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    opacity: 0;
    transition: all 0.3s ease;
    cursor: pointer;
    pointer-events: all;
}
.swiper-container-wrapper .swiper-btn-prev{
    left: 1.9vw;
    top: 5%;
}
.swiper-container-wrapper .swiper-btn-next{
    left: 6vw;
    top: 5%;
}
.swiper-container-wrapper:hover .swiper-btn-next,
.swiper-container-wrapper:hover .swiper-btn-prev{
    opacity: 1;
}

@media(max-width: 1024px){
    .slider-card{
        flex: 1 0 50vw;
        background-size: cover;
        background-position: center;
    }
    .swiper-hover-zones{
        display: none;
    }
    .slider-card-content{
        width: 40vw;
    }
    .swiper-container-wrapper .swiper-btn-next,
    .swiper-container-wrapper .swiper-btn-prev{
        opacity: 1 !important;
    }
    .swiper-container-wrapper .swiper-btn-prev {
        left: 4vw;
    }
    .swiper-container-wrapper .swiper-btn-next {
        left: 13vw;
    }
}
@media(max-width: 767px){
    .slider-card{
        flex: 1 0 100vw;
    }
    .slider-card-content{
        width: 80vw;
    }
    .swiper-container-wrapper .swiper-btn-prev {
        left: 9vw;
    }
    .swiper-container-wrapper .swiper-btn-next {
        left: 30vw;
    }
}